body{
  background-color :grey;
  margin : 0px;
  background-image: url("https://www.reshot.com/preview-assets/illustrations/F962LXZBUG/404-line-art-illustration-F962LXZBUG-w1600.jpg");
}
img{
  width:650px;
  bottom: 10px;
  position: absolute;
  border-radius: 20%;
} 
font{
  size: 160px;
  
}
div{
  text-align: center;
}